@model Pizzapan.EntityLayer.Concrete.OurTeam

@{
    ViewData["Title"] = "AddOurTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Ekip Çalışanı Ekle</h1>

<form method="post">

    <label>Adı Soyadı</label>
    <input asp-for="NameSurname" class="form-control" style="background-color:#b1b3b1"/>
    <br />
    <label>Alt Başlık</label>
    <input asp-for="SubTitle" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Resim Url</label>
    <input asp-for="ImageUrl" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Twitter</label>
    <input asp-for="Twitter" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <label>Facebook</label>
    <input asp-for="Facebook" class="form-control" style="background-color:#b1b3b1" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>