<section class="w3l-banner" id="banner">
    <div class="new-block py-5">
        <div class="container">
            <div class="row middle-section">
                <div class="col-lg-7 section-width align-self">
                    <h5>@ViewBag.title1</h5>
                    <br />
                    <h2>@ViewBag.title2</h2>
                </div>
                <div class="col-lg-5 history-info mt-lg-0 mt-5 pt-lg-0 pt-md-4">
                    <img src="~/pizzapan-starter/assets/images/pizza-full.png" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
</section>