@model RegisterViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
@*
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br><br />
        <label>Adınız</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" asp-for="Surname" />
        <br />
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="Username" />
        <br />
        <label>Email Adresiniz</label>
        <input type="email" class="form-control" asp-for="Email" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" asp-for="Password" />
        <br />
        <label>Şifre Tekrar</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-primary">Kayıt Ol</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </div>
</form>
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Kayıt Paneli</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="/web/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body>
    <div class="mid-class">
        <div class="art-right-w3ls">
            <h2>Kayıt Ol</h2>
            <form action="#" method="post">
                <div class="main">
                    <div class="form-left-to-w3l">
                        <input type="text" name="Name" placeholder="Adınız" required="">
                    </div>
                    <div class="form-left-to-w3l">
                        <input type="text" name="Surname" placeholder="Soyadınız" required="">
                    </div>
                    <div class="form-left-to-w3l">
                        <input type="text" name="Username" placeholder="Kullanıcı Adınız" required="">
                    </div>
                    <div class="form-left-to-w3l">
                        <input type="email" name="Email" placeholder="E Posta" required="">
                    </div>
                    <div class="form-left-to-w3l ">
                        <input type="password" name="Password" placeholder="Parola" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">
                        <input type="password" name="Password" placeholder="Parola Tekrar" required="">
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="btnn">
                    <button class="btn btn-primary">Kayıt Ol</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>